.total {
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
}
.chart {
    padding:10px;
}
@media screen and (max-width: 1050px) {
    .chart Doughnut {
        right: 50px;
    }
}
