
.table3 table {
    border-collapse: collapse;
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}
th, td {
    padding: 5px;
    font-size: 14px;
    background: #ddd;
    border-bottom: 2px solid white;
}

th {
    background-color: #36304a;
    color: white;
    font-family: sans-serif;
}
td{
    font-size: 12px;
}
.title3{
    text-align: center;
}

.table3_empty{
    text-align: center;
}