.table1 table {
    border-collapse: collapse;
    border: 1px ;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}
th, td {
    padding: 5px;
    border-bottom: 1px ;
}
th {
    background-color: black;
    color: white;
}
.title1{
    text-align: center;
}
.table1_empty{
    text-align: center;
}