.header {
    margin-left: 3%;
    margin-top: 1%;
}
.features {
    height: 760px;
    background-color: #f1f1f1;
    z-index: 0;
    box-sizing: border-box;
}
.dashboard_body {
    padding: 5px;
    margin: 0 2%;
}
.first_row {
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.second_row {
    width: 100%;
    position: relative;
    bottom: 90px;
    box-sizing: border-box;
}
.chart {
    width: 50%;
    float: left;
}
.table_3 {
    width: 48%;
    float: right;
}
.clear-fix {
    clear: both;
}
.table_1 {
    width: 49%;
    float: left;
}
.table_2 {
    width: 49%;
    float: right;
}

@media screen and (max-width: 1000px) {

    .chart {
        width: 100%;
        box-sizing: border-box;
    }

    .table_3 {
        float: left;
        width: 100%;
        margin-bottom: 120px;
        box-sizing: border-box;
    }

    .table_1 {
        width: 100%;
        box-sizing: border-box;
    }

    .table_2 {
        float: left;
        width: 100%;
        box-sizing: border-box;
    }

}
